{% extends 'base.html' %}
{% load static %}


{% block page_title %}Blog | Vishesh{% endblock page_title %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_files %}

{% block page_content %}


<section id="welcome">
    <header>
        <img src="{% static 'blog/images/vishesh.jpg' %}" alt="Vishesh, Authour of this Blog">
        <h2>VISHESH'S BLOG</h2>
    </header>
    <P>Hi, This is Vishesh and this blog will be about IDK</P>
</section>

<section id="latest-posts">
    <h2>My Latest Post</h2>

    <ul>
        {% for post in posts %}
        {% include 'blog/includes/post.html' %}
        {% endfor %}
    </ul>
</section>

<section id="about">
    <h2>What do I do?</h2>
    <p>I love programming, this is me coding frontend without knowing hat am i coding</p>
    <p>my goal is to keep on growing as a devloper</p>
</section>
{% endblock page_content %}